
@import"../../../styles.scss";

.contactUs div{
    background-color: $mainColor;
    padding: 1px;
    width: 100px;
    text-align: center;
    
}
.line-sec{
    background-color: $mainColor;
    padding:1px;
    width: 100px;
}
