

@import "../../../styles.scss";

//    navbar
.nav-color{
    background-color: #b5bdb21c
    
}

.nav-item .nav-link {
  font-size: 20px;
  margin-left: 30px;
  color:$mainColor !important;

    background-color: #b5bdb21c  
}


.nav-item .nav-link {
  font-size: 20px;
  margin-left: 30px;
  color:#393a3a !important;
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.fa-shopping-cart {
  color:#393a3a ;
}

.navbar-nav .nav-item{
text-align: center;
}
.nav-item .nav-link:before, .nav-item .nav-link:after{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: $mainColor;
  transition: all 0.3s;
}

.nav-item .nav-link:before{
  left: 0px;
    top: 0px;
} 

.nav-item .nav-link:after{
  right: 0px;
    bottom: 0px;
}

.nav-item .nav-link:hover:before, .nav-item .nav-link:hover:after{
  opacity: 1;
  width: 100%;
}

// language sppiner icon
.setting-spinner{
    position: absolute;

.num-product{
  font-size: 17px;
  font-weight: bolder;
  color: red;
  
}

// language sppiner icon
.setting-spinner{
    position: fixed;
    top:30%;
    right: 3px;
    z-index:999999999999999999 ;
}
.setting-spinner .setting{
    max-height: 40px;
    padding: 3px;
}
.arabEng{
  cursor: pointer;
}
.setting-spinner .lang img{
  width: 30px;
  margin-right: 10px;
}


}