<div class="container login-section my-5 ">
    <div class="row py-5 login-layer ">

        <!-- <div class="col-md-5 px-5 border-right">
            <img src="../../../assets/images/bglogin.jpg" class="w-100 h-100" alt="">
        </div> -->

        <div class="col-md-7 ml-auto">

            <div class="  py-3">
                <div class=" ">

                    <div class="text-center login ">
                        <h2 class=" text-white">company information</h2>
                    </div>

                    <div class="px-5 mt-4">
                        <form class="">


                            <div class="form-group">
                                <div class="border-bottom  rounded px-4 py-2">


                                    <select class="form-control border-0 bg-transparent">
                                        <option>Select:</option>
                                        <option>national</option>
                                        <option>Iqama</option>
                                        <option>GCC</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="border-bottom  rounded px-4 py-2">


                                    <select class="form-control border-0 bg-transparent">
                                        <option>Select from :</option>
                                        <option>Jeddah</option>
                                        <option>El-Riad</option>
                                        <option>El-madina</option>
                                        <option>makkah</option>
                                        <option>Nagran</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email address</label> -->
                                <div class="border-bottom  rounded px-4 py-2">

                                    <input type="number" placeholder="national id"
                                        class="form-control border-0  bg-transparent" id="exampleInputPassword1">
                                </div>
                            </div>


                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email address</label> -->
                                <div class="border-bottom  rounded px-4 py-2">

                                    <input type="number" placeholder="Commercial Registration No"
                                        class="form-control border-0 bg-transparent" id="exampleInputPassword1">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email address</label> -->
                                <div class="border-bottom  rounded px-4 py-2">

                                    <input type="text" placeholder="Address"
                                        class="form-control border-0 bg-transparent" id="exampleInputPassword1">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email address</label> -->
                                <div class="px-4 py-2">
                                    <div class="row">
                                        <div class="col-md-6 mt-2">
                                            <div class="py-5 border rounded bg-transparent text-center">
                                                <i class="fas fa-upload mx-2 mt-1"></i>
                                                Attach file
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <div class="py-5 border rounded bg-transparent text-center"  (click)="uploadFile()">
                                                <i class="fas fa-upload mx-2 mt-1"></i>
                                                Attach image


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-center ">
                                <button type="submit" class="btn text-white bg-mainColor my-3" (click)="submit()">submit</button>

                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>





