<div class="container login-section my-5">
    <div class="row login-layer  py-5">

        

       
    
        <div class="col-lg-6 col-md-8 ml-auto">
          
                <div class=" text-white text-center login mb-5 ">
                    <h2 class=" text-white ">Sign Up</h2>
                </div>
          

             <div class=" pb-2 ">
  
              
  
              <div class="">
                  <form [formGroup]='signUpForm'>
                      
                     
                      <div class="form-group">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <div class="border-bottom rounded   d-flex" >
                              <span><i class="far fa-user text-white  mx-5 mt-1 "></i></span> 
                    
                              <input type="text" autocomplete="off" placeholder="Enter first name" class="form-control  border-0" 
                              [class.is-valid]="signUpForm.get('first_name').errors == null && signUpForm.get('first_name').touched "
                              formControlName='first_name' [(ngModel)]="userObj.first_name">
                          </div>
                          <div class="alert alert-danger" role="alert"
                                *ngIf="signUpForm.get('first_name').errors != null && signUpForm.get('first_name').touched">
                                Enter Valid First Name
                            </div>
                      </div>

                       
                      <div class="form-group">
                        <div class="border-bottom rounded   d-flex" >
                            <span><i class="far fa-user text-white  mx-5 mt-1"></i></span>
                            <input type="text" placeholder="Enter last name" class="form-control  border-0" id="exampleInputPassword1"
                            [class.is-valid]="signUpForm.get('last_name').errors == null && signUpForm.get('last_name').touched "
                            formControlName='last_name' [(ngModel)]="userObj.last_name">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="signUpForm.get('last_name').errors != null && signUpForm.get('last_name').touched"> Enter Valid Last Name
                            </div>
                        
                    </div>    
                    
                    <div class="form-group">
                        <div class="border-bottom rounded mb-4  d-flex" >
                            <span><i class="fas fa-map-marker-alt text-white  mx-5 mb-2"></i></span> 
                          <div class="dropdown  w-100">
                            <a  class="bg-transparent w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="text-white">
                               <span  class="ml-3 pb-2">
                            Select City : {{cityName}}
                             </span>
                            </a>
                            <div class="dropdown-menu bg-mainColor w-100" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item text-white border-bottom" (click)="fill(city)"  *ngFor="let city of cityList">
                                  <span>{{city.en_city_name}}</span>
                              </a>
                            </div>
                          </div>




                          </div>
                      </div>
                
                  <div class="form-group">
                      <div class="border-bottom rounded  d-flex" >
                        <span><i class="fas fa-mobile-alt text-white mx-5 mt-1 "></i></span>        
                          <input type="" placeholder="(+966) saudi Arabia" class="form-control border-0" id="exampleInputPassword1"
                          [class.is-valid]="signUpForm.get('phone').errors == null && signUpForm.get('phone').touched "
                          formControlName='phone'  [(ngModel)]="userObj.mobile_no">
                      </div>
                      <div class="alert alert-danger" role="alert"
                                *ngIf="signUpForm.get('phone').errors != null && signUpForm.get('phone').touched">
                                Enter Valid Phone
                            </div>
                  </div>
                      
                      <div class="form-group">
                          <div class="border-bottom rounded d-flex" >
                               <span><i class="far fa-envelope text-white  mx-5 mt-1 "></i></span>  
                                                      
                              <input type="email" placeholder="Enter your mail" class="form-control border-0" id="exampleInputPassword1"
                              [class.is-valid]="signUpForm.get('email').errors == null && signUpForm.get('email').touched "
                              formControlName='email'  [(ngModel)]="userObj.email">
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="signUpForm.get('email').errors != null && signUpForm.get('email').touched"> Enter Valid Email
                            </div>
                      </div>
                
  
               
                      <div class="form-group">
                          <div class="border-bottom rounded d-flex" >
                               <span> <i class="far fa-eye-slash text-white  mx-5 mt-1 "></i>
                              </span> 
                              <input type="password" placeholder="Enter Password" class="form-control border-0" id="exampleInputPassword1" [class.is-valid]="signUpForm.get('password').errors == null && signUpForm.get('password').touched "
                              formControlName='password' [(ngModel)]="userObj.password">
                          </div>
                          <div class="alert alert-danger" role="alert"
                          *ngIf="signUpForm.get('password').errors != null && signUpForm.get('password').touched">
                          Enter Valid Password
                          </div>
                      </div>
                      
  
                      <div class="form-check mt-2 ml-4">
                          <input type="checkbox" class="form-check-input mt-1" id="exampleCheck1" [class.is-valid]="signUpForm.get('city').errors == null && signUpForm.get('city').touched "
                          formControlName='city' >
                          <label class="login form-check-label ml-3 text-white" for="exampleCheck1" (click)="routeToTermsPage() ">Privacy Policy & Terms of Service</label>
                     </div>


                     <div class="ml-5">
                      <button type="submit" (click)="createAllUser()"  [disabled]='signUpForm.invalid' class="btn text-white bg-mainColor mt-4 mb-4">sign up</button>
                      <p class="text-center text-white">Already have an account? 
                           <span class="border-bottom text-white login  font-weight-bold" (click)="routeToLogin()">
                                Log in
                           </span>
                            </p>
                     </div>
                  </form>
                  
              </div>
  
             </div>
            
  
            
  
          </div>
  
  
      </div>
    </div>


