
<div class="container login-section my-5">
    <div class="row login-layer  py-5">

        

       
    
        <div class="col-md-6 ml-auto">
          
                <div class=" text-white text-center login mb-5 ">
                    <h2 class=" text-white ">Sign Up</h2>
                </div>
          

             <div class=" pb-2 ">
  
              
  
              <div class="">
                  <form [formGroup]='signUpForm' (ngSubmit)=' logInInfo(signUpForm)'>
                      
                     
                      <div class="form-group">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <div class="border-bottom rounded   d-flex" >
                              <span><i class="far fa-user text-white  mx-5 mt-1 "></i></span> 
                    
                              <input type="text" placeholder="Enter first name" class="form-control  border-0" id="exampleInputPassword1"
                              [class.is-valid]="signUpForm.get('first_name').errors == null && signUpForm.get('first_name').touched "
                              formControlName='first_name'>
                          </div>
                          <div class="alert alert-danger" role="alert"
                                *ngIf="signUpForm.get('first_name').errors != null && signUpForm.get('first_name').touched">
                                Enter Valid First Name
                            </div>
                      </div>

                       
                      <div class="form-group">
                        <!-- <label for="exampleInputEmail1">Email address</label> -->
                        <div class="border-bottom rounded mb-4  d-flex" >
                            <span><i class="far fa-user text-white  mx-5 mt-1"></i></span>
                            
                  
                            <input type="text" placeholder="Enter last name" class="form-control  border-0" id="exampleInputPassword1">
                        </div>
                    </div>    
                    
                    <div class="form-group">
                        <div class="border-bottom rounded mb-4  d-flex" >
                            <span><i class="fas fa-map-marker-alt text-white  mx-5 mt-1 "></i></span> 
                            
                        <select class="form-control border-0 text-gray">
                            <option>Select city:</option>
                            <option >Jeddah</option>
                            <option >El-Riad</option>
                            <option  >El-madina</option>
                            <option >makkah</option>
                            <option >Nagran</option>
                          </select>
                          </div>
                      </div>
                
                  <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Email address</label> -->
                      <div class="border-bottom rounded mb-4 d-flex" >
                        <span><i class="fas fa-mobile-alt text-white mx-5 mt-1 "></i></span>        
                          <input type="" placeholder="(+966) saudi Arabia" class="form-control border-0" id="exampleInputPassword1">
                      </div>
                  </div>
                      
                      <div class="form-group">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <div class="border-bottom rounded mb-4 d-flex" >
                               <span><i class="far fa-envelope text-white  mx-5 mt-1 "></i></span>  
                                                      
                              <input type="email" placeholder="Enter your mail" class="form-control border-0" id="exampleInputPassword1">
                          </div>
                      </div>
                
  
               
                      <div class="form-group">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <div class="border-bottom rounded mb-4 d-flex" >
                               <span> <i class="far fa-eye-slash text-white  mx-5 mt-1 "></i>
                              </span> 
                              <input type="password" placeholder="Enter Password" class="form-control border-0" id="exampleInputPassword1">
                          </div>
                      </div>
  
                      <div class="form-group">
                          <!-- <label for="exampleInputEmail1">Email address</label> -->
                          <div class="border-bottom rounded mb-4 d-flex" >
                               <span> <i class="far fa-eye-slash text-white   mx-5 mt-1 "></i>
                              </span> 
                              <input type="password" placeholder="confirm Password" class="form-control border-0" id="exampleInputPassword1">
                          </div>
                      </div>
                  
  
                      <div class="form-check mt-2 ml-4">
                          <input type="checkbox" class="form-check-input mt-1" id="exampleCheck1">
                          <label class="form-check-label ml-3 text-white" for="exampleCheck1">Privacy Policy & Terms of Service</label>
                        </div>
  
  
                   
                     <div class="ml-5">
                         
                      <button type="submit" class="btn text-white bg-mainColor mt-4 mb-4">sign up</button>
                      
                      <p class="text-center text-white">Already have an account?  <span class="border-bottom text-white  font-weight-bold">Log in</span></p>
                     </div>
                  </form>
                  
              </div>
  
             </div>
            
  
            
  
          </div>
  
  
      </div>
    </div>


