@import"../../../styles.scss";




input ,select{
    background-color: transparent;
}

input:focus , select:focus{
    background-color: transparent;
    box-shadow: none !important;
}



.text-gray{
    color: gray;
}




.dropdown-item:hover{
    color: white;
    background-color: $mainColor;
}
.dropdown button{
    box-shadow: none;
}
.account{
    cursor: pointer;
}
