<!-------------------main home----------------------->
<section>

    <div class="" *ngIf="!flag">
        <!-- CATEGORIES product -->
        <div class="container my-5">
            
           
            <div class="row py-5">


                <!--------------------------display products---------------------->
                <div class="col-lg-12 col-md-10">


                    <!--------------------- search --------------------------->
                    <div class="row mt-5">
                        <div class="col-lg-9  mx-auto">
                            <div class="row ">
                                <div class="col-lg-10 mx-auto col-md-12">
                                    <div class="search d-flex">
                                        <input type="text" [(ngModel)]="term" placeholder="search" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-5 ">
                        <!-----------------sidebar--------------------->
                        <div class="col-lg-4 col-md-6 py-3 mt-5">
                            <div class="rounded shadow p-3 mx-4 mt-5">
                                <div class="">
                                    <h4 class="text-mainColor ">Categroy</h4>
                                    <div class="line"></div>
                                    <ul class="list-unstyled ml-5">
                                        <li *ngFor="let prop of category" class="border-bottom mt-3 pb-1"
                                            (click)="fill(prop)">
                                            <a>
                                                <img [src]="prop.image_path" class="category-img rounded-circle" alt="">
                                                <span class="font-weight-bold">{{prop.en_category_name}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!--------------------------display products---------------------->
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="d-flex justify-content-between">
                                        <!---------------------title---------------->
                                        <div class="">
                                            <h2 class="text-mainColor ml-5 ">Items</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-------------------------display all product and product by category id --------------->
                    

                            <div class="row mt-3 ">
                                <div class="col-lg-4 col-md-6 " *ngFor="let item of productList |search:term">
                                    <div  class="product text-center mt-3 border rounded shadow  animate__animated animate__backInUp py-3">
                                        <div data-toggle="modal" data-target="#exampleModalCenter" (click)="DisplayDetails(item)">
                                            <img [src]="item.image_path"
                                                class="img-fluid rounded product-img" alt="">
                                        </div>
                                        <div>
                                            <h4 class="my-3 text-mainColor">{{item.en_item_name}}</h4>
                                            <h5 class="mb-3 text-mainColor">
                                                <span class="text-dark">Price :</span>
                                                <span class="price"> {{item.price | currency : 'SAR '}}</span>
                                            </h5>
                                            <button class="btn btn-lg bg-mainColor text-white my-2"
                                                (click)=" addToCart()">
                                                <span class="mr-3">Add To Cart</span>
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--------pagination---------->
                        <div class="col-lg-2 col-md-4 mx-auto">
                            <div class="pagination mt-5 d-flex justify-content-between">
                                <a>
                                    <span class="fas fa-angle-left fa-3x text-mainColor" (click)="loadLess()"
                                        *ngIf="disableLoadLess" aria-hidden="true"></span>

                                </a>

                                <ul class="list-unstyled d-flex ">
                                    <li class=" bg-mainColor text-white px-3 py-2 rounded-circle">{{page}}</li>
                                </ul>
                                <a>
                                    <i class="fas fa-angle-right fa-3x text-mainColor" (click)="loadMore()"
                                        *ngIf="disableLoadMore" aria-hidden="true"></i>

                                </a>
                            </div>
                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>
    
</section>


<!-----------------confirm info----------------------->
<section>
    <div class="container py-5" *ngIf="flag">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div>
                    <p class="confirm"><span class="text-mainColor">This page is for products that are included in your
                            contract.</span> Please create your own account and follow the necessary steps to establish
                        your contract and follow up on your requests</p>
                    <button class="btn btn-lg bg-mainColor text-white" (click)="getTerms()"> confirm </button>
                </div>
            </div>
        </div>

    </div>

</section>



<!--slider-->

<!-- Modal to display description of products -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-mainColor" id="exampleModalLongTitle">{{productObj.en_item_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="product text-center">
                        <div class="animate__animated animate__backInUp">
                            <div>
                                <img [src]="productObj.image_path" class="product-img img-fluid rounded  " alt="">
                            </div>
                            <div>
                                <h3 class="text-mainColor ">
                                    {{productObj.en_item_name}}
                                </h3>
                                <h5 class=" text-center"><span class="text-mainColor">Price :</span> {{productObj.price
                                    | currency : 'SAR '}}
                                </h5>
                                <div class=" mt-3 ml-2">
                                    <h5 class="text-mainColor">Description ... </h5>
                                    <div class="pline ml-1"></div>
                                    <p class=""> {{productObj.en_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-mainColor text-white" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>