
@import"../../../styles.scss";

/****************** sidebar ***********************/
.sidebar {
    cursor: pointer;
}
.sidebar .categ li:hover .list{
    margin-left: 10px;
    transition: all 1s;
    
}

.sidebar .categ li span {
  font-size: 18px;
}

.list-categ {
    cursor: pointer;
    font-size: 20px;
    color: $mainColor;
     
}
.category-img{
    width: 50px;
   
}


@media only screen and (max-width: 979px) {
        .navbar .nav-item{
            background: #000;
            text-align: left;
        }
        .line{
            display: none;
        }
     
      }

/************* overlay of product (icon haverable)  ***************/
.overlay{
    text-align: center;
    bottom: 0;
}

.overlay i{
    color: $mainColor;
    visibility: hidden;
    background: white;
}
.overlay .productquantity{
    border: none;
    width: 20px;
    padding-left: 6px;
    background-color: transparent;
}

.product:hover .overlay i{
    visibility: visible;
    transition: all 1s ease-in;
    transform: rotate(360deg);
    color: white;
    background-color: $mainColor; 
}
 .line{
    width: 30px;
    background-color: #000;
    padding: 1px;
    margin-top: 3px ; 
}

.category-img{
    width: 30px;
}

.product-img{
    min-height: 170px;
    max-height: 170px;
}
input::placeholder{
    color: rgb(107, 101, 101);
}



/****************** product slider  ***********************/
.slider button{
}
// product slider  
.pagination span{
    animation-name: slider;
    animation-duration: 1s;
}

@keyframes slider {
    0%   {  filter: blur(10px);}
    25%  {  filter: blur(9px);}
    50%  {  filter: blur(6px);}
    75%  {  filter: blur(3px);}
    100% {  filter: blur(0px);}
  }

/************** drop of showing product***************/
.dropdown-menu a:hover{
    color: $mainColor;
}
.product-img{
    max-height: 180px;
    min-height: 180px;
    border-radius: 50px;
}


.swal2-styled.swal2-confirm {
    background-color: #27c454 !important;
   
}



  /******************* confirmation section *********************/


  // confirmation section 
.confirm{
    font-size: 20px;
    line-height: 2;
}


.carousel-control-prev{
    // background: #000;
    margin-left: -166px;

}
.carousel-control-next{
    // background-color: #000;
    margin-right: -166px;
}
// .carousel .carousel-control-prev .carousel-control-prev-icon{
//    color: turquoise !important;
// }
.modal .modal-dialog .modal-content .modal-body .product  p{
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    font-weight: bold;
}
.modal .modal-dialog .modal-content .modal-body .product h5{
    text-align: left;   
}

.pline{
    width: 47px;
    height: 2px;
    background: #000;
    margin-bottom: 10px;
}
.price{
    font-size: 16px;
}
