<footer class="">

    
    <div class="footer-content container-fluid">

        <div class="container  py-4">


            <div class="row">

     <!------------------- SHOPPING GUIDE ------------------>
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class=" shadow rounded py-3 px-2 shop-section">
                        <h5 class="fontsize mb-2 text-mainColor text-center ">SHOPPING GUIDE</h5>
                        <hr class="">
                        <ul class="list-unstyled ml-4">
                            <li class="mt-2">
                                <i class="fas fa-chevron-right "></i>
                                FAQs</li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Payment</li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Shipment</li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Where is my order?</li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Return policy</li>
                        </ul>                
                    </div>
                </div>      
     <!-------------------end SHOPPING GUIDE ------------------>


       <!------------------------ LINKS ----------------------------->
                <div class="col-lg-3 col-md-6 mt-2">
                    <div  class=" shadow rounded py-3 px-2 shop-section">
                        <h5 class="fontsize mb-2 text-mainColor text-center">USEFUL LINKS</h5>
                        <hr class="">
                        <ul class="list-unstyled ml-4">
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                About Us </li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Terms & conditions</li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Privacy Policy</li>
                            <li class="mt-2">
                                <i class="fas fa-chevron-right"></i>
                                Contact Us</li>
                            
                        </ul>
                    </div>

                </div>
     <!------------------------end LINKS ----------------------------->


 <!------------------------ NewsLetter ----------------------------->
                <div class="col-lg-6 col-md-12">
                    <div class="p-4">
                        <h3 class="fontsize mb-2 text-white">SIGN UP FOR NEWSLETTER</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="your name" class="form-control mr-2 mt-2">
                            </div>
                            <div class="col-md-6">

                                <input type="text" placeholder="your email" class="form-control mt-2">
                            </div>
                        </div>
                        <button class="btn btn-light text-mainColor mt-3">subscribe</button>
                    </div>

                    <div>
                        <div class="">
                            <div class="text-center follow">
                                <span class="text-mainColor header">FOLLOW US :</span>
                               <span class=""> <i class="fab fa-facebook-f fa-2x  ml-4"></i></span>
                                <span> <i class="fab fa-twitter fa-2x  ml-4"></i></span>
                                <span><i class="fab fa-google-plus-g  fa-2x  ml-4"></i></span>
                                <span><i class="fab fa-youtube fa-2x  ml-4"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
<!------------------------end  NewsLetter ----------------------------->

            </div>


            <!------------------------copyright----------------------------->

            <div class="row mt-5">
                <div class="col-md-5 mx-auto text-center">
                    <div>
                        © 2020 LEEN ALKHAIR. All Rights Reserved.
                    </div>
                </div>

                
            </div>

             <!------------------------end copyright----------------------------->



        </div>


    </div>
</footer>